footer {
    background-color: black;
    font-size: 1.14em;
    height: 70vh;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer ul {
    list-style: none;
}

.footer--section {
    margin: 10px;
    border-left: 1px rgba(255, 255, 255, 0.2) solid;
    padding: 10px;
}

@media(max-width:1000px) {
    footer {
        justify-content: start;
    }
}